<div class="about-main">
  <h2>Double Dutchとは</h2>
  <p>
    ２本の縄を使ってダンス、アクロバット、ロープトリックなどを行う超かっこいいスポーツです。下の動画を是非見て下さい！
  </p>
  <div class="about_movie">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zz7q29Tuvdw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>