<div class="main top-main">
  <div class="top-message">
    <h2>Super Cool Sports!!</h2>
  </div>
  <div class="about-main">
    <h2 class="aboutDD">Double Dutchとは</h2>
    <p class="discription">
      ２本の縄を使ってダンス、アクロバット、ロープトリックなどを行う超かっこいいスポーツです。下の動画を是非見て下さい！
    </p>
    <div class="about_movie">
      <iframe width="800" height="400" src="https://www.youtube.com/embed/zwbYLcGyvY4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="about2-main">
    <p class="none">.</p>
    <p class="none">.</p>
    <p>ダブルダッチのcoolな動画をpoolしよう！</p>
    <img src ="/assets/images/234.jpg" class="about_image">
  </div>

 
 
 
 
 
 




