<div class="main top-main">
  <div class="top-message">
    <h2>Super Cool Sports!!</h2>
  </div>
  <div class="btn-wrapper">
   <% if @current_user %>
   <% else %>
    <%=link_to("Sign Up", "/user/signup", { :class => "btn signup"})%>
    <p>or</p>
    <%=link_to("Login", "/login", { :class => "btn login"})%>
  <% end %>
</div>

