@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.main {
    width: 100%;
}

.teams-title {
    font-size: 24px;
    text-align: center;
    margin: 50px;
}

.teams {
    text-align: center;
    width: 95%;
    margin: auto;
    .team {
        display: inline-block;
        float: left;
        position: relative;
        @include box_sizing;
        border: 1px solid black;
        box-shadow: 0 0 8px gray;
        width: 18%;
        margin: 1%;
        height: 300px;
        a {
            font-size: 20px;
            display: inline-block;
            color: black;
            &:hover {
                color: black;
            }
            // margin: 50px 0;
            padding-top: 200px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
        }
        .team-image {
            height: 150px;
            background: url(/assets/images/team.jpg);
            background-size: cover;
            background-color: rgba(0,0,0,0.6);
        }
    }
}
